{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>About Minecraft</h2>
      <p>
        Find more information here.
      </p>



<div class="ui five statistics" style="margin-top: 1em; display:flex; justify-content:center;">

    <div class="statistic">
        <div class="value">
            <i class="music icon"></i>
        </div>
        <div class="label">
            App Title: <br>
            {{info.appTitle}}
        </div>
    </div>


    <div class="statistic">
        <div class="value">
            <i class="code branch icon"></i>
        </div>
        <div class="label">
            App Version: <br>
            Version {{info.version}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="map pin icon"></i>
        </div>
        <div class="label">
            Made in: <br>
            {{info.location}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="user icon"></i>
        </div>
        <div class="label">
            Created by: <br>
            {{info.creators.0.name}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
    </div>
    
        <div class="statistic">
        <div class="value">
            <i class="user icon"></i>
        </div>
        <div class="label">
            Created by: <br>
            {{info.creators.0.name}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
    </div>
    

</div>
<br>
<br>
  <p>Minecraft is a 2011 sandbox game. It features many different biomes to explore, each of which house different mobs.</p>
  <br>
  <p>Minecraft was created by Mojang Studios in Stockholm.</p>
  <h2>Contact</h2>
  <p>support@mojang.desk-mail.com</p>
  
</section>

<section class="ui left aligned middle aligned segment" style="margin-top: 1em; display:flex; justify-content:center;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.732810240197!2d18.04894667755485!3d59.3207184746101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77dd8f5bdf07%3A0xe3a8ee341cc7043!2sMojang%20Studios!5e0!3m2!1sen!2sie!4v1772806419556!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<footer class="site-footer">
  <div class="ui container">
    <p>© 2026 Minecraft Biome App</p>
    <p>Created by Lucy Harney 20111786</p>
  </div>
</footer>

